{% extends 'base.html' %}

{% block content %}

<h1>Bienvenue sur la page des véhicules</h1>
<p>voici tous les véhicules existants :</p>

<table>
    <tbody>
        <tr>
            <th>Id</th>
            <th>marque</th>
            <th>modele</th>
            <th>couleur</th>
            <th>immatriculation</th>
            <th>Editer</th>
        </tr>

        {% for vehicule in vehicules %}
        <tr>
            <td>{{ vehicule.id }}</td>
            <td>{{ vehicule.marque }}</td>
            <td>{{ vehicule.modele }}</td>
            <td>{{ vehicule.couleur }}</td>
            <td>{{ vehicule.immatriculation }}</td>
            <td><a href="{{ base_path ~ 'vehicule/edit/' ~ vehicule.id }}">E</a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<hr style="margin: 50px 0">

<h1>Ajouter un véhicule</h1>

<form action="{{ base_path ~ '/vehicule/create' }}" method="POST">
    <div>
        <label for="marque">Marque :</label>
        <input type="text" name="marque" id="marque">
    </div>
    
    <div>
        <label for="modele"> Modele :</label>
        <input type="text" name="modele" id="modele">
    </div>

    <div>
        <label for="couleur"> Couleur :</label>
        <input type="text" name="couleur" id="couleur">
    </div>

    <div>
        <label for="immatriculation"> Immatriculation :</label>
    <input type="text" name="immatriculation" id="immatriculation">
    </div>
    

    <button type="submit">Ajouter</button>
</form>


<a href="{{ base_path ~ '/' }}">Retour à l'accueil</a>

{% endblock %}