{% extends 'base.html' %}

{% block content %}

<h1>Changer informations conducteur</h1>

<form action="{{ base_path ~ 'conducteur/update/' ~ conducteur.id }}" method="POST">
    <label for="prenom">Prenom :</label>
    <input type="text" name="prenom" id="prenom" value={{ conducteur.prenom }}>

    <label for="nom"> Nom :</label>
    <input type="text" name="nom" id="nom" value={{ conducteur.nom }}>

    <button type="submit">Editer</button>
</form>

<a href="{{ base_path ~ '/' }}">Retour à l'accueil</a>

{% endblock %}