{% extends 'base.html' %}

{% block content %}

<h1>Bienvenue sur la page des conducteurs</h1>
<p>voici tous les conducteurs existants :</p>


<table>
    <tbody>
        <tr>
            <th>Id</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Editer</th>
        </tr>

        {% for conducteur in conducteurs %}
        <tr>
            <td>{{ conducteur.id }}</td>
            <td>{{ conducteur.prenom }}</td>
            <td>{{ conducteur.nom }}</td>
            <td><a href="{{ base_path ~ 'conducteur/edit/' ~ conducteur.id }}">E</a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<hr style="margin: 50px 0">

<h1>Ajouter un conducteur</h1>

<form action="{{ base_path ~ '/conducteur/create' }}" method="POST">
    <div>
        <label for="prenom">Prenom :</label>
        <input type="text" name="prenom" id="prenom">
    </div>

    <div>
        <label for="nom"> Nom :</label>
        <input type="text" name="nom" id="nom">
    </div>


    <button type="submit">Ajouter</button>
</form>


<a href="{{ base_path ~ '/' }}">Retour à l'accueil</a>
{% endblock %}